@charset "utf-8";
.main{
	padding-top: 145px;
	overflow: hidden;
	background: #FFFFCC;
	border-bottom:1px solid #EFEEEA;
}

.mainImg{
	height: 350px;
	width: 1200px;
	border-top:1px solid #EFEEEA;
	border-bottom:1px solid #EFEEEA;
}

.main .text{
	margin:20px 20px 20px 20px;
	line-height: 30px;
	font-size: 15px;
	padding-bottom: 20px;
	border-bottom:1px solid rgb(204,100,51);
}

.main .title{
	padding-left: 20px;
	padding-bottom: 20px;
}

.main .app .imgList{
	padding-left: 40px;
	overflow: auto;
}

.cell{
	float: left;
	height: 240px;
	width: 200px;
	margin-right: 30px;
	margin-bottom: 20px;
}

.cell .subCell{
	height: 200px;
	width: 200px;
	border: 1px solid #CC9933;
	overflow: hidden;
}

.cell .subCell:hover{
	box-shadow: 2px 2px 2px #999999;
}


.cell .appImg{
	height: 200px;
	width: 200px;
	transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-webkit-transition: all 0.5s ease-in-out; 
	
}

.cell .appImg:hover{
	transform: scale(1.05,1.05);
	-ms-transform: scale(1.05,1.05);
	-webkit-transform: scale(1.05,1.05);
	-moz-transform: scale(1.05,1.05);
}

.cell .appTitle{
	text-align: center;
	height: 40px;
	line-height: 40px;
	font-size:15px;
}
